//
// Footer
//
.footer {
  &-main {
    background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
    line-height: 24px;

    a {
      text-decoration: none;
      color: $gray;
    }
  }

  &-socials {
    margin: 0 -12px;

    img {
      margin: 4px 12px;
    }
  }

  &-nav {
    line-height: 40px;
  }
}