//
// Input text,search,email,tel
//
// -- Text
.input-text {
  height: 50px;
  padding: 15px 25px;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid $dark-gray;
  background: none;
}

// -- Search
.input-search {
  height: 25px;
  padding: 5px 10px;
  background: $dark;
  font-size: $text-small;
  text-transform: uppercase;
  color: $white;
  border-radius: 50px;
  border: none;
}

//
// Buttons
//
.btn {
  height: 56px;
  padding: 20px 30px;
  border: none;
  border-radius: 5px;
  font-size: $text-small;
  text-align: center;
  text-decoration: none;

  &-md {
    height: 62px;
    border-radius: 5px;
    font-size: $text-small;
  }

  &-lg {
    height: 66px;
    border-radius: 5px;
    font-size: $text-size-1;
  }

  &-green {
    background: $green;
    color: $white;
    text-transform: uppercase;
  }

  &-orange {
    background: $orange;
    color: $white;
  }

  &-red {
    background: $red;
    color: $white;
  }

  &-purple {
    background: $purple;
    color: $white;
  }

  &-border {
    background: none;
    border: 1px solid $white;
    color: $white;
    text-transform: uppercase;
  }

  &-round {
    border-radius: 32px;
    padding-left: 40px;
    padding-right: 40px;
  }

  &-block {
    display: block;
    width: 100%;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    fill: $white;
  }

  &-icon {
    display: inline-flex;
    align-items: center;
  }
}