//
// Main font
//
body {
  font-family: $font-family;
}

//
// Heading sizes
//
:root {
  --h1: #{$h1-m};
  --h2: #{$h2-m};
  --h3: #{$h3-m};
  --h4: #{$h4-m};
  --h5: #{$h5-m};
  --h6: #{$h6-m};
}

@include size('up', 'mobile') {
  :root {
    --h1: #{$h1};
    --h2: #{$h2};
    --h3: #{$h3};
    --h4: #{$h4};
    --h5: #{$h5};
    --h6: #{$h6};
  }
}

h1,
.h1-style {
  font-size: var(--h1);
  font-weight: 700;
}

h2,
.h2-style {
  font-size: var(--h2);
  font-weight: 700;
}

h3,
.h3-style {
  font-size: var(--h3);
  font-weight: 400;
}

h4,
.h4-style {
  font-size: var(--h4);
  font-weight: 400;
}

h5,
.h5-style {
  font-size: var(--h5);
  font-weight: 400;
}

h6,
.h6-style {
  font-size: var(--h6);
  font-weight: 400;
}

//
// Text sizes
//
@for $i from 1 through 7 {
  .text-size-#{$i} {
    font-size: 8px + ($i * 8);
  }
}

.text-small {
  font-size: $text-small;
}

//
// Text styles
//
.text {
  &-uppercase {
    text-transform: uppercase !important;
  }
  &-lowercase {
    text-transform: lowercase !important;
  }
  &-capitalize {
    text-transform: capitalize !important;
  }
}
