//
// Grid
//
// -- Container, rows, cols
.container {
  margin: 0 auto;
  padding: 0 $container-padding;
  max-width: $container-width;
  
  @include size('up', $size-md) {
    padding: 0 $container-padding-desktop;
  }
}

// -- Display properties
.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.d-inline-flex {
  display: inline-flex;
}

.d-grid {
  display: grid;
}

.d-inline-grid {
  display: inline-grid;
}

.flex-grow {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.direction-reverse {
  flex-direction: row-reverse;
}

// -- Alignment 
.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

//
// Gallery
//
.grid-gallery {
  @include gallery($image-size);

  @include size('up', $size-lg) {
    @include gallery($image-size-desktop);
  }
}

//
// Columns
//
div[class*="column-set"] {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$container-padding;
  margin-right: -$container-padding;

  @include size('up', $size-md) {
    margin-left: -($container-padding-desktop);
    margin-right: -($container-padding-desktop);
  }
}

div[class*="column-set"]>div {
  flex: 1 0 100%;
  padding-left: $container-padding;
  padding-right: $container-padding;

  @include size('up', $size-md) {
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
  }
}

div.column-set-2>div {
  @include size('up', $size-md) {
    flex: 1 0 50%;
  }
}

div.column-set-3>div {
  @include size('up', $size-md) {
    flex: 1 0 33.3333%;
  }
}

div.column-set-4>div {
  @include size('up', $size-sm) {
    flex: 1 0 50%;
  }

  @include size('up', $size-md) {
    flex: 1 0 50%;
  }
  
  @include size('up', $size-lg) {
    flex: 1 0 25%;
  }
}