//
// Header
//
.logo {
  display: inline-flex;
  align-items: center;
  font-size: $text-small;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  img {
    margin-right: 16px;
  }
}

.header {
  &-main {
    background: no-repeat center / cover;
    color: $white;
    padding: 20px 0 210px;
  }

  &-nav {
    font-size: 11px;
    text-transform: uppercase;
    line-height: 15px;

    a {
      text-decoration: none;
      color: $gray;

      &:hover {
        color: $white;
      }
    }

    @include size-only($size-sm, $size-lg) {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }

  &-form {
    display: grid;
    grid-gap: 25px;

    @include size('up', $size-md) {
      grid-template-columns: 1fr 1fr;

      .btn {
        grid-column: 1 / 3;
      }
    }
  }

  &-navbar {
    @include size('up', $size-sm) {
      display: grid;
      grid-gap: 0 88px;
      align-items: center;
    }

    @include size-only($size-sm, $size-lg) {
      grid-template-columns: 110px 248px;
      grid-template-rows: 1fr 1fr;
      justify-content: space-between;
    }
    
    @include size('up', $size-lg) {
      grid-template-columns: 110px auto 248px;
      grid-template-rows: 1fr;
    }
  }
}