//
// Breakpoints
//
@mixin size($direction, $size-type) {
  @if($direction=='down') {
    $size-type: $size-type - 0.02;
  }

  @media (min-width: $size-type) {
    @content;
  }
}

@mixin size-only($size-from, $size-to) {
  $size-to: $size-to - 0.02;

  @media (min-width: $size-from) and (max-width: $size-to) {
    @content;
  }
}

//
// Gallery
//
@mixin gallery($image-size, $row-gap: $row-gap, $column-gap: $column-gap) {
  display: grid;
  gap: $row-gap $column-gap;
  grid-template-columns: repeat(auto-fit, minmax(#{strip-units($image-size)}px, 1fr));
}

//
// Dynamic heading
//
$max-resolution: 1920px;
@mixin adaptiv-font($desctop-size, $mobile-size) {
  $sub-size: $desctop-size - $mobile-size;
  $max-resolution: $max-resolution - 320;
  font-size: calc(#{$mobile-size} + #{strip-units($sub-size)} * ((100vw - 320px) / #{strip-units($max-resolution)}));

  @include size('up', 1921px) {
    font-size: $desctop-size;
  }
 }