//
// Spacings
//
// -- px (0)
@each $key, $value in $spaces {
  .#{$key}-0 {
    #{$value}: 0px !important;
  }
}

// -- px (16-80)
$px: 16;

@for $i from 1 through 5 {
  $size: $i * $px;

  @each $key, $value in $spaces {
    .#{$key}-#{$size} {
      #{$value}: #{$size}px;
    }
  }
}

@include size('up', $size-md) {
  @for $i from 1 through 5 {
    $size: $i * $px;

    @each $key, $value in $spaces {
      .#{$key}-md-#{$size} {
        #{$value}: #{$size}px;
      }
    }
  }
}

// -- px (50-250)
$px: 25;

@for $i from 1 through 10 {
  $size: $i * $px;

  @each $key, $value in $spaces {
    .#{$key}-#{$size} {
      #{$value}: #{$size}px;
    }
  }
}

@include size('up', $size-md) {
  @for $i from 2 through 10 {
    $size: $i * $px;

    @each $key, $value in $spaces {
      .#{$key}-md-#{$size} {
        #{$value}: #{$size}px;
      }
    }
  }
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

//
// Width
//
.w-200 {
  width: 200px;
}

.mw-570 {
  max-width: 570px;
}