//
// Spacings
//
// -- rem
@for $i from 1 through 5 {

  @each $key, $value in $spaces {
    .#{$key}-#{$i} {
      #{$value}: #{$i}rem;
    }
  }
}

@include size('up', $size-md) {
  @for $i from 1 through 5 {

    @each $key, $value in $spaces {
      .#{$key}-md-#{$i} {
        #{$value}: #{$i}rem;
      }
    }
  }
}

// -- px
$px: 25;

@for $i from 1 through 10 {
  $size: $i * $px;

  @each $key, $value in $spaces {
    .#{$key}-#{$size}px {
      #{$value}: #{$size}px;
    }
  }
}

@include size('up', $size-md) {
  @for $i from 1 through 10 {
    $size: $i * $px;

    @each $key, $value in $spaces {
      .#{$key}-md-#{$size}px {
        #{$value}: #{$size}px;
      }
    }
  }
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

//
// Width
//
.w-200 {
  width: 200px;
}

.mw-570 {
  max-width: 570px;
}